/* extended from https://www.anish.io/css/main.css */
html {
  margin: 0;
  padding: 0;
}

/* good enough for GitHub, good enough for me :) */
body {
  font-family: -apple-system,"Libre Franklin",BlinkMacSystemFont,"Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  font-size: 16px;
  color: #1b2125;
  line-height: 1.25;
  text-rendering: optimizeLegibility
}

pre,code {
  font-size: 14px;
  font-family: "Inconsolata", Consolas, Menlo, monospace;
  font-weight: 400
}

b,strong,h1,h2,h3,h4 {
  font-weight: 600
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  line-height: 1.25;
}

h4 {
  
}


h1 {
  margin-top: 1.5rem;
  font-size: 160%
}

h2 {
  margin-top: 1.25rem;
  font-size: 130%
}

h3 {
  margin-top: 1.12rem;
  font-size: 117%
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 105%
}

hr {
    position:relative;
    margin:1rem 0;
    border:0;
    border-top:1px solid #eee;
    border-bottom:1px solid #fff
}

ul,
ol {
  padding-left: 1.25rem;
}
@media (min-width: 700px) {
  ul,
  ol {
    padding-left: 2rem;
  }
}

/* Hyperlink formatting */
a {
  color: #027db9;
  text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }
}

/* miscellaneous text */
.seeking {
  color: blueviolet;
  font-weight: 600;
  font-style: italic;
  text-decoration: none;
}

.eligibility {
  color: black;
  text-decoration: none;
}

/* Header: profile picture and links */
.profile-outer {
  max-width: 750px;
  margin: auto;
}

.profile-inner {
  padding: 0.5rem 1rem 3rem 1rem;
}

.profile-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-child {
  margin-left: 0.6rem;
}

.profile-image {
    margin-top: 1.5rem;
    object-fit: contain;
    height: 220px;
}

/* List formatting */
li.wide:not(:first-child) {
  margin-top: 1.5rem;
}

li:not(:first-child) {
  margin-top: 0.5rem;
}

li p {
  margin: 0;
}

li p.links {
  margin-top: 0.5rem;
}

.list-headsep {
  height: 4px;
}

/* Publications list */
.paper-title {
  font-weight: 600;
}

.paper-year {
    font-weight: 600;
}

.paper-award {
    font-weight: 600;
    color:darkred;
}

.paper-authors {
  font-weight: 400;
}

.paper-venue {
  font-weight: 400;
  font-style: italic;
}

.paper-links {
    font-weight: 400;
    color:#777;
}